In [5]:
import pandas as pd
# Define data_url explicitly
# The URL points to a text file, so we can read it directly with pandas
# Note: The URL points to a text file, so we can read it directly with pandas
data_url = "https://raw.githubusercontent.com/2493351/Intra_2493351/main/weight-height.csv"
# Read the data from the URL
raw_df = pd.read_csv(data_url, sep=r"\s+", skiprows=1, header=None)
# Ensure the cell defining data_url is executed before running this cell

# Display the first few rows of the DataFrame
raw_df.head()
# Display the shape of the DataFrame
print(f"Shape of the DataFrame: {raw_df.shape}")
# Display the first few rows of the DataFrame
raw_df.head()
# Display the shape of the DataFrame
print(f"Shape of the DataFrame: {raw_df.shape}")
# Display the first few rows of the DataFrame
raw_df.head()
# Display the shape of the DataFrame

Shape of the DataFrame: (10000, 1)
Shape of the DataFrame: (10000, 1)

                                        0
0   Male,73.847017017515,241.893563180437
1  Male,68.7819040458903,162.310472521300
2    Male,74.1101053917849,212.7408555565
3  Male,71.7309784033377,220.042470303077
4  Male,69.8817958611153,206.349800623871